#Directories
mods/**
saves/**
logs/**
out/**
build/**
eclipse/**
crash-reports/**
.idea/**
.gradle/**
run/**

#Files
options.txt
usercache.json
usernamecache.json
.gradle/gradle.log

#Classes
src/main/java/com/linesix/akhaten/handler/TardisHandler.java