#Directories
mods/**
saves/**
logs/**
out/**
build/**
eclipse/**
crash-reports/**
.idea/**
.gradle/**
run/**
build/**

#Files
options.txt
usercache.json
usernamecache.json
.gradle/gradle.log
clean.sh
run.sh

#Classes
src/main/java/com/linesix/akhaten/handler/TardisHandler.java
config/splash.properties
